/* LAYOUT */

.cb-full-width {
  width: 100%;
}

.cb-full-height {
  height: 100%;
}

.cb-flex {
  display: flex;
}

.cb-flex-grow {
  flex-grow: 1;
}

.cb-flex-shrink {
  flex-shrink: 1;
}

$flex-directions: row, column, row-reverse, column-reverse;

@each $dir in $flex-directions {
  .cb-flex-direction-#{$dir} {
    flex-direction: $dir;
  }
}

$flex-wraps: wrap, nowrap, wrap-reverse;

@each $wrap in $flex-wraps {
  .cb-flex-wrap-#{$wrap} {
    flex-wrap: $wrap;
  }
}

$alignments: stretch, center, flex-start, flex-end, baseline, initial, inherit;
$justifications: flex-start, center, flex-end, space-between, space-around, stretch, space-evenly, initial, inherit;

@each $justification in $justifications {
  .cb-justify-#{$justification} {
    justify-content: $justification;
  }
}

@each $alignment in $alignments {
  .cb-align-items-#{$alignment} {
    align-items: $alignment;
  }
}

@each $size,
$size-space in $sizes {
  .cb-gap-#{$size} {
    gap: $size-space;
  }
}

$overflows: scroll, auto, hidden;

@each $overflow in $overflows {
  .cb-overflow-#{$overflow} {
    overflow: $overflow;
  }

  .cb-overflow-x-#{$overflow} {
    overflow-x: $overflow;
  }

  .cb-overflow-y-#{$overflow} {
    overflow-y: $overflow;
  }
}

$columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $column in $columns {
  .cb-column-#{$column} {
    width: calc(100% * $column / 12);
  }

  .cb-column-#{$column}-xs {
    @media (max-width: 600px) {
      width: calc(100% * $column / 12);
    }
  }

  .cb-column-#{$column}-xs-up {
    @media (min-width: 0px) {
      width: calc(100% * $column / 12);
    }
  }

  .cb-column-#{$column}-sm {
    @media (max-width: 960px) {
      width: calc(100% * $column / 12);
    }
  }

  .cb-column-#{$column}-sm-up {
    @media (min-width: 600px) {
      width: calc(100% * $column / 12);
    }
  }

  .cb-column-#{$column}-md {
    @media (max-width: 1280px) {
      width: calc(100% * $column / 12);
    }
  }

  .cb-column-#{$column}-md-up {
    @media (min-width: 960px) {
      width: calc(100% * $column / 12);
    }
  }

  .cb-column-#{$column}-lg {
    @media (max-width: 1600px) {
      width: calc(100% * $column / 12);
    }
  }

  .cb-column-#{$column}-lg-up {
    @media (min-width: 1280px) {
      width: calc(100% * $column / 12);
    }
  }

  .cb-column-#{$column}-xl {
    @media (min-width: 1601px) {
      width: calc(100% * $column / 12);
    }
  }
}